body {
    font-family: 'Abel', sans-serif;
    background-image: url("https://wallpapercave.com/wp/wp5349244.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .container{
width: 80%;
margin: 0 auto;
  }

  header {
    background: #000000;
    opacity: 0.8;
  }

  header::after {
    content: '';
    display: table;
    clear: both;
  }

  .logo{
    float: left;
    padding: 10px 0;
  }

  nav{
    float: right;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style:none;
  }

  nav li {
    display: inline-block;
    margin: 0 35px;
    padding-top: 35px;
  }

  nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
  }

  nav a:hover {
    color: gray;
  }

  .center_image{
    filter: hue-rotate(10deg);
    width: 50%;
    height: auto;
    padding-top: 20px;
    padding-left: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.8;
  }

  .celeb_workout_title{
    font-size: 50px;
    color:rgb(0, 0, 0);
    float:left;
    background-color:aliceblue;
    opacity: 0.8;
  }

.workout_container{
  display:grid;
  align-items:center;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

  .celeb_workout_paragraph{
    font-size:25px;
    color:aliceblue;
  }

  .chris_hemsworth_image{
    max-width: 50%;
    max-height: 50%;
  }
