@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/642ca9ec0ef53bc22e7b6299.642ca9ed1367bf9438d6681c.9B7HIdR.hcp.png");

@font-face {
  font-family: "Century Gothic-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Century Gothic") format("truetype");
}
@font-face {
  font-family: "Century Gothic-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Century Gothic.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
