body {
    font-family: "Century Gothic", sans-serif;
    background-color: #272727;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

input, button, select {
    font-family: "Century Gothic", sans-serif;
    font-size: 1rem;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

#data-container {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

h2, p {
    margin: 0;
    margin-bottom: 10px;
}

p:last-child {
    margin-bottom: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid white;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}
